body{
    text-align: center;
}

.btn{
    height: 180px;
    width: 180px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.2rem;
}

.btn-container{
    display: flex;
    justify-content: center;

}

.yellow{
    background-color: yellow;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.purple{
    background-color: purple;
}

.flash{
    background-color: white;
}

@media (max-width: 480px) {
    .btn {
        height: 100px;
        width: 100px;
        margin: 1rem;
    }
}

@media (min-width: 480px) {
    #start {
        height: 50px;
        width: 100px;
        margin: 1rem;
    }
}
